# ms3R .gitignore file
# Add file names or regular expressions to 
# ignore when updating git repo

# ---- Temporary R and TMB files --- #
*.DS_Store
*.Rapp.history

# History files that aren't necessary for conditioning
history/fit_*/plots
history/fit_*/hierSCAL.o
history/fit_*/SISCA.cpp
history/fit_*/*.html

# Compiled objects
*.so
*.o

# Outputs of ms3R - these can be moved via the server
Outputs/sim_*

# Batch stuff - temporary and batch specific, no need to save
# to repo
Batch/job*.txt
Batch/batchDesign.txt

