# ms3R .gitignore file
# Add file names or regular expressions to 
# ignore when updating git repo

# ---- Temporary R and TMB files --- #
*.DS_Store
*.Rapp.history

# History plot folders
./history/fit_*/plots
./history/fit_*/hierSCAL.o
*.o

# Outputs of ms3R
./Outputs/sim*



