# ms3R .gitignore file
# Add file names or regular expressions to 
# ignore when updating git repo

# ---- Temporary R, OS files --- #
*.DS_Store
*.Rapp.history

# History files that aren't necessary for conditioning
history/fit_*/plots
history/fit_*/hierSCAL.o
history/fit_*/SISCA.cpp
history/fit_*/*.html
history/

# generated pdfs and images, tmp files
*.pdf
*.eps
*.ong
*.log
*.aux
*.bbl
*.tex
*.spl
*.upa
*.fls
*.blg
*.*latexmk

# bookdown outputs
docs/*/_book


# Compiled objects
*.so
*.o

# Outputs of ms3R - these can be moved via the server
Outputs

# Batch stuff - temporary and batch specific, no need to save
# to repo
Batch/job*.txt
Batch/batchDesign.txt

